{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Blackbox Exporter
Documentation=https://github.com/prometheus/blackbox_exporter
After=network-online.target

[Service]
Type=simple
User={{ blackbox_exporter_system_user }}
Group={{ blackbox_exporter_system_group }}
PermissionsStartOnly=true
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ blackbox_exporter_binary_local_dir }}/blackbox_exporter \
  --config.file={{ blackbox_exporter_config_dir }}/config.yml \
  --log.level={{ blackbox_exporter_log_level }} \
  --log.format={{ blackbox_exporter_log_format }} \
  {% for flag, flag_value in blackbox_exporter_cli_flags.items() -%}
  --{{ flag }}={{ flag_value }} \
  {% endfor -%}
  --web.listen-address={{ blackbox_exporter_web_listen_address }}:{{ blackbox_exporter_web_listen_port }}

SyslogIdentifier=blackbox_exporter
KillMode=process
Restart=always
RestartSec=5
LimitNOFILE={{ blackbox_exporter_limit_nofile | default('8192') }}
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
